* {
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  color: red;
  background: #707070;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  color: #cecece;
  background: black;
}
